@media (max-width: 1000px) {        
    .profile-dimondbox{
        height: 250px;          
        width: 250px;
                            /* home page photo box */
    }
    .profile-image{
        margin-left: 2%;
        margin-top: -12%;
        
    }
    .home-container{
        height: 100vh;   
    }
    
   
}
@media (max-width: 400px) {
    .profile-dimondbox{
        height: 220px;
        width: 220px;

    }
    .profile-image{
        margin-left: 2%;
        margin-top: -12%;
        
    }
    .home-container{
        height: 120vh;   
    }
    
   
}

@media (max-width: 800px){
    .home-container{
        height: 110vh;   
    }
}


@media (min-width: 1000px) {
    .home-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-container{
        height: 90vh;   
    }
    .profile-dimondbox{
        height: 300px;
        width: 300px;

    }
    .profile-image{
        
        margin-left: 14%;
        margin-top: 5%;

    }
    
}





@media (max-width:1000px) {
    .folio-navlinks{
        display: none;
                                /* tools bar */
    }
    .menu-btn{
        display: flex;
    }
    
}
@media (min-width:1000px) {
    .folio-navlinks{
        display: flex;
    }
    .menu-btn{
        display: none;
    }
    
}






@media (min-width:1000px) {
    
    .aboutme-container{
        padding: 5% 0% 10% 10%;
    }

    
}



@media (max-width:1000px) {
    .eucation-container{
       
       
    }
   
    
}





@media (max-width:1200px) {
    .skill-container{
        display: grid;
              
       
    }
    
}
@media (min-width:1200px) {
    .skill-container{
        display: flex;
        gap: 30px;
        
    }
    
}

@media (max-width:1200px) {
    .skill-page{
        height: 170vh;
              
       
    }
    
}
@media (min-width:1200px) {
    .skill-page{
        
        height: 80vh;
    }
    
}



@media (max-width:1200px) {
    .projectsline-one{
        display: grid;
              
       
    }
    
}
@media (min-width:1200px) {
    .projectsline-one{
        display: flex;
        
        
    }
    
}



@media (max-width:1200px) {
    .projects-page{
        height: 130vh;
              
       
    }
    
}
@media (max-width:700px) {
    .projects-page{
        height: 150vh;
              
       
    }
    
}
@media (max-width:580px) {
    .projects-page{
        height: 200vh;
              
       
    }
    
}
@media (max-width:510px) {
    .projects-page{
        height: 230vh;
              
       
    }
    
}

@media (max-width:500px) {
    .projects-page{
        height: 211vh;
              
       
    }
    
}
@media (max-width:470px) {
    .projects-page{
        height: 232vh;
              
       
    }
    
}
@media (min-width:1200px) {
    .projects-page{
        
        height: 110vh;
    }
    
}

@media (min-width:600px) {
                                /* project box allignment */

    .projectbox-one {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-two {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-three {
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-four {
        display: flex;
        /* align-items: center;
        justify-content: center; */
    
    }
}
@media (max-width:550px) {
    .projectbox-one {
        display: grid;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-two {
        display: grid;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-three {
        display: grid;
        align-items: center;
        justify-content: center;
    
    }
    .projectbox-four {
        display: grid;
        /* align-items: center;
        justify-content: center; */
    
    }
}



