
/* Extra large devices (larger desktops, less than 1400px) */
@media (min-width: 1399px) {
    .folio-navlinks {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .home-container {
       padding: 5% 0% 7% 0%;
    }

    .profile-dimondbox {
        height: 300px;
        width: 300px;

    }

    .profile-image {

        margin-left: 14%;
        margin-top: 5%;

    }

}
@media (max-width: 1200px){
    .folio-navlinks {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
}
@media (max-width: 1300px){
    .folio-navlinks {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
    .home-container {
        padding: 5% 0% 8% 0%;
    }


}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .profile-dimondbox {
        height: 250px;
        width: 250px;
        /* home page photo box */
    }

    .profile-image {
        margin-left: 2%;
        margin-top: -12%;

    }

    .home-container {
        padding: 5% 0% 8% 0%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .folio-navlinks {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
    .home-container {
        padding: 5% 0% 9% 0%;
    }
}

/* Small devices (phones to small tablets, less than 768px) */
@media (max-width: 767px) {
    .home-container {
        padding: 5% 0% 10% 0%;
    }
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    .profile-dimondbox {
        height: 220px;
        width: 220px;

    }

    .profile-image {
        margin-left: 2%;
        margin-top: -12%;

    }

    .home-container {
        padding: 5% 0% 11% 0%;
    }
}


/* Education Section */

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    .vertical-line {
        display: none;
    }

    .education-box {
        display: grid;
        align-items: center;
        justify-content: center;
        
    }

    .common-box {
        margin: 0;
    }

}



/* education container */
@media (min-width: 1399px) {
    .education-section {
        padding: 4% 0% 7% 0%;
    }
    .education-box{
        padding: 0px 200px 0px 40px;
    }


}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .education-section {
        padding: 4% 0% 7% 0%;
    }
    .education-box{
        padding: 0px 200px 0px 40px;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .education-section {
        padding: 4% 0% 7% 0%;
    }
    .education-box{
        padding: 0px 200px 0px 40px;
    }
}

/* Small devices (phones to small tablets, less than 768px) */
@media (max-width: 767px) {
    .education-section {
        padding: 4% 0% 7% 0%;
    }
    .education-box{
        padding: 0px 200px 0px 40px;
    }
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    .education-section {
        padding: 4% 0% 7% 0%;
    }
    .education-box{
        padding:0;
    }
}



/* skill section */
@media (min-width: 1399px) {
    .skill-container {
        display: flex;
        gap: 30px;

    }

    .skill-page {
        padding: 5% 0% 7% 0%;
    }
}

@media (max-width: 1199px) {
    .skill-container {
        display: grid;
    }
    .skill-page {
        padding: 5% 0% 7% 0%;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .skill-page {
        padding: 5% 0% 7% 0%;
    }
}

/* Small devices (phones to small tablets, less than 768px) */
@media (max-width: 767px) {
    .skill-page {
        padding: 5% 0% 7% 0%;
    }
}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    .skill-page {
        padding: 5% 0% 7% 0%;
    }
}


/* project page */



@media (min-width: 1399px) {

    .projectsline-one {
        display: flex;


    }

    .projectsline-two {
        display: flex;


    }

    .projectbox-one {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .projectbox-two {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .projectbox-three {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .projectbox-four {
        display: flex;
        /* align-items: center;
        justify-content: center; */

    }

    .projects-page {
        padding: 5% 0% 7% 0%;

    }

}
@media (max-width: 1300px) {
    .projects-page {
        padding: 5% 0% 8% 0%;

    }
    
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .projectsline-one {
        display: grid;


    }

    .projectsline-two {
        display: grid;


    }

    .projects-page {
        padding: 5% 0% 8% 0%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .projects-page {
        padding: 5% 0% 8% 0%;
    }

}

/* Small devices (phones to small tablets, less than 768px) */
@media (max-width: 767px) {
    .projects-page {
        padding: 5% 0% 8% 0%;
    }

}


/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
    .projectbox-one {
        display: grid;
        align-items: center;
        justify-content: center;

    }

    .projectbox-two {
        display: grid;
        align-items: center;
        justify-content: center;

    }

    .projectbox-three {
        display: grid;
        align-items: center;
        justify-content: center;

    }

    .projectbox-four {
        display: grid;
        /* align-items: center;
        justify-content: center; */

    }

    .projects-page {
        padding: 5% 0% 8% 0%;
    }
}




/*********************************/
/* below 544px (phone) */
/********************************/
@media (max-width:34em) {}

/*********************************/
/* below 704px (Smaller Tablets) */
/********************************/
@media (max-width:44em) {}

/*********************************/
/* below 944px (tablets) */
/********************************/
@media (max-width:59em) {}

/*********************************/
/* below 1200px (ladscape tablet) */
/********************************/
@media (max-width:75em) {}

/*********************************/
/* below 1344px (smaller desktop) */
/********************************/
@media (max-width:84em) {}